<div class="ns_creditsHolder">
    <div class="ns_creditsLineThin"></div>
    <h2>Credits</h2>
    <p>Well done to these people</p>

    <div class="tmpShareToolsHolder">Loading sharetools...</div>

    <div class="ns_onwardJourneys">
        <div class="ns_creditsLineThick"></div>
        <h2>More on this story</h2>
        <div class="ns_creditsLineThin"></div>
        <a href="http://google.com" target="_top">related link 1</a>
        <a href="" target="_top">related link 2</a>
        <a href="" target="_top">related link 3</a>
        <span>The BBC is not responsible for the content of external Internet sites</span>
    </div>
</div>